<div class="post-list">

	{{#foreach posts}}
		<section id="{{comment_id}}" class="post-item">
			<a href="{{url}}" class="post-title">{{title}}<span style="float:right;">{{date published_at format='YYYY.MM.DD'}}</span></a>
		</section>
	{{/foreach}}

	<nav class="pagi" role="navigation">
		{{pagination}}
	</nav>

	<div class="footer_area">
		{{> footer}}
	</div>
	<div>
		<h4 id="searchtext" class="results-hide">Search Results:</h4>
		<section id="results"></section>
	</div>
</div>
