<!doctype html>
<html>
	<head>
	    {{! Document Settings }}
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    {{! Page Meta }}
	    <title>{{@blog.title}} - {{@blog.description}}</title>
			{{! Styles }}
			<script type="text/javascript" src="{{asset "js/outline.js"}}"></script>
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/bootstrap.min.css'}}">
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/snk.min.css'}}">
			{{! Responsive Meta Tags }}
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
			{{{block "head"}}}
	    {{ghost_head}}
	</head>
	<body>
		<header>
			{{navigation}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer class="footer">
			{{> footer}}
			{{ghost_foot}}
		</footer>
		<script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/popper.min.js"}}"></script>
		<script type="text/javascript" src="{{asset "js/highlight.min.js"}}"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script type="text/javascript" src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
  	<script type="text/javascript">
  	// $("#searchtext").addClass("results-hide");
		$("#search-field").ghostHunter({
    results: "#results",
    // onKeyUp: true,
    displaySearchInfo: false,
    before: function(){
         $("#searchtext").removeClass("results-hide");}
		});
  </script>
	</body>
</html>
