<!doctype html>
<html>
	<head>
	    {{! Document Settings }}
	    <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    {{! Page Meta }}
	    <title>{{@blog.title}} - {{@blog.description}}</title>
			{{! Styles }}
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/font-awesome.css'}}">
<!-- 			<link rel="stylesheet" type="text/css" href="{{asset '/styles/default.min.css'}}"> -->
			<link rel="stylesheet" type="text/css" href="{{asset '/styles/main.css'}}">
			{{! Responsive Meta Tags }}
	    <meta name="HandheldFriendly" content="True" />
	    <meta name="MobileOptimized" content="320" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
			<!--[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
				<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
			<![endif]-->
			{{{block "head"}}}
	    {{ghost_head}}
	</head>
	<body class="{{body_class}}">
		<main class="content">
			{{{body}}}
		</main>
		<header style="display:block;text-align:center;" class="header" id="header">
			<a id="logo" href="{{@blog.url}}"><img src="https://dn-huntersnk.qbox.me/2017/08/07/headpic3082.jpg" alt="{{@blog.title}}" /></a>
			<h1><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
			<p>{{@blog.description}}</p>
			{{> follow}}
			{{navigation}}
			<br>
			<form>
      	<input id="search-field" placeholder="Search" class="searchbox" />
    	</form>
		</header>
		<footer id="footer">
			<section id="footer-message">&copy; {{date format='YYYY'}} {{@blog.title}}</section>
		</footer>
	{{ghost_foot}}
	<h4 id="searchtext" class="results-hide">Search Results:</h4>
	<section id="results"></section>

	<!-- <script type="text/javascript" src="{{asset "js/highlight.min.js"}}"></script>
	<script>hljs.initHighlightingOnLoad();</script> -->
	<script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
<!--   <script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script> -->
<!--   <script type="text/javascript">
  	// $("#searchtext").addClass("results-hide");
		$("#search-field").ghostHunter({
    results: "#results",
    // onKeyUp: true,
    displaySearchInfo: false,
    before: function(){
         $("#searchtext").removeClass("results-hide");}
		});
  </script> -->
	</body>
</html>
