<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{@blog.title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{!-- Styles'n'Scripts --}}
<!--     <link rel="stylesheet" type="text/css" href="{{asset "css/bulma.min.css"}}" /> -->
<!--     <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>
<body>
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        {{@blog.title}}
      </h1>
      <h2 class="subtitle">
        {{@blog.description}}
      </h2>
      <p class="buttons">
          <a class="button is-medium" href="/blog">
            <span class="icon">
              <i class="fas fa-pen"></i>
            </span>
            <span>Blog</span>
          </a>
          <a class="button is-medium" href="/about">
            <span class="icon">
              <i class="fas fa-user-alt"></i>
            </span>
            <span>About</span>
          </a>
          <a class="button is-medium" href="/project">
            <span class="icon is-small">
              <i class="far fa-lightbulb"></i>
            </span>
            <span>Project</span>
          </a>
      </p>
    </div>
  </div>
</section>


</body>
</html>
