{{!< default}}
{{#post}}
<div class="outline-area">
	{{> outline}}
</div>
<div class="blog-post">
	<article id="{{comment_id}}" class="{{post_class}}">
		<div class="post-stamp">{{date published_at format='YYYY-MM-DD'}}<span class="taglist">{{tags separator=" " prefix=" &middot; "}}</span>{{#if featured}}<span class="separator"> &middot; </span><i class="fa fa-star-o feature-star"></i>{{/if}}</div>
		<h1 class="post-title">{{title}}</h1>
		{{content}}
	  {{> comments}}
	</article>
</div>
{{/post}}
<script type="text/javascript">
	window.onload = function(){
	    var outline = document.getElementById('outline-table');
	    if(getTocMarkup(document)){
	        outline.innerHTML = getTocMarkup(document);
	    }else{
	        outline.innerHTML ="nothing here";
	        // handle remove outline and cotent margin
	    }
	    };
</script>